body { 
    display: flex; 
    flex-direction: column;
    align-items: center;
    height: 100vh;
    zoom: 95%;
}

.container { 
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    height: 900px;
    background-color: beige;
    margin: 30px;
}

.cell { 
    box-sizing: border-box;
}

button { 
    background-color: rgb(0, 132, 255);
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
}

